pytest~=6.2.5
pytest-pycodestyle
requests~=2.26.0
flask~=2.0.2
pymodm
dnspython
certifi

pip~=21.1.2
wheel~=0.36.2
py~=1.10.0
colorama~=0.4.4
attrs~=21.2.0
packaging~=21.0
MarkupSafe~=2.0.1
setuptools~=57.0.0
Jinja2~=3.0.2
pyparsing~=2.4.7
idna~=3.3
toml~=0.10.2
Werkzeug~=2.0.2
click~=8.0.3
itsdangerous~=2.0.1
pluggy~=1.0.0
iniconfig~=1.1.1
atomicwrites~=1.4.0
certifi~=2021.10.8
urllib3~=1.26.7
pycodestyle~=2.8.0
DateTime~=4.3
numpy~=1.21.3
pytz~=2021.3